.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user {
    display: flex;
    margin: 20px;
}

.currentPage {
    font-weight: 700;
    background: aqua;
}

.pages {
    display: flex;
    flex-wrap: wrap;
}

.pages span {
    cursor: pointer;
    border: 1px solid blue;
    padding: 3px;
    margin: 3px;
}