#header {
    padding: 10px;
    background: rgb(36, 71, 116);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
#header img {
    width: 100px;
}

#header span {
    font-size: 2em;
    color: #b2bec3;
    font-weight: 700;
}

.login {
    color: #b2bec3;
}